/dts-v1/;
/plugin/;

/ {
	compatible = "allwinner,sun4i-a10", "allwinner,sun7i-a20", "allwinner,sun8i-h3", "allwinner,sun50i-a64", "allwinner,sun50i-h5";

	fragment@0 {
		target = <&r_pio>;
		__overlay__ {

			gpio_encoder_left_pin: gpio_encoder_left_pin@1 {
				allwinner,pins = "PC4";
				allwinner,function = "gpio_in";
				//bias-pull-up;
			};
			gpio_encoder_right_pin: gpio_encoder_right_pin@4 {
				allwinner,pins = "PA15";
				allwinner,function = "gpio_in";
				//bias-pull-up;
			};
			gpio_motor_left_forward_pin: gpio_motor_left_forward_pin@2 {
				allwinner,pins = "PA2";
				allwinner,function = "gpio_out";
			};
			gpio_motor_left_backward_pin: gpio_motor_left_backward_pin@3 {
				allwinner,pins = "PC2";
				allwinner,function = "gpio_out";
			};
			gpio_motor_right_forward_pin: gpio_motor_right_forward_pin@5 {
				allwinner,pins = "PC0";
				allwinner,function = "gpio_out";
			};
			gpio_motor_right_backward_pin: gpio_motor_right_backward_pin@6 {
				allwinner,pins = "PC1";
				allwinner,function = "gpio_out";
			};
		};
	};

	fragment@1 {
		target-path = "/";
		__overlay__ {
			tagtagtag-ears {
				compatible = "linux,tagtagtag-ears";
				gpio-controller;
				#gpio-cells = < 0x03 >;
				interrupt-controller;
				#interrupt-cells = < 0x03 >;

				left-encoder-gpio = <&r_pio 1 1>;
                left-motor-gpios = <&r_pio 2 1 &r_pio 3 1>;
                right-encoder-gpio = <&r_pio 4 1>;
                right-motor-gpios = <&r_pio 5 1 &r_pio 6 1>;

				pinctrl-names = "default";
				pinctrl-0 = <&gpio_encoder_left_pin &gpio_motor_left_forward_pin &gpio_motor_left_backward_pin &gpio_encoder_right_pin &gpio_motor_right_forward_pin &gpio_motor_right_backward_pin>;
				status = "okay";
			};
		};
	};
};
